<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Movie Website</a> -->
      <div class="" rounterLink="">
          <a class="navbar-brand" href="#"><i class="bi bi-film" style="color: white;height: 100px;"></i> IMDBMovies</a>
        </div>
      <div class="flex" id="navbarNav">
        <!-- <mat-icon>backup</mat-icon> -->
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul> -->
        <!-- Search Bar -->
        <i class="bi bi-person-circle" style="color: white;height: 100px;"></i>
    
      </div>
    </div>
  </nav>